.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.my-app-header {
  font-size: 23px !important;
  padding-top: 23px !important;
  padding-left: 5px !important;
}

nav.navbar.navbar-default > div.container {
  margin-left: 0px !important;
  padding-left: 0px !important;
}

p.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
